*~
*.o
*.la
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libpagecache-config.h
libpagecache-config.h.in
libtool
ltmain.sh
missing
stamp-h1
